<div ng-show="loading" class="lds-ellipsis" ng-show="loading"><div></div><div></div><div></div><div></div></div>
<div ng-hide="loading">
    <a type="button" class="btn btn-info" ng-href="#!/gameContent/{{name}}"><i class="fas fa-chevron-circle-left"></i> Return</a>
    <div><img class="icon" ng-src="https://xivapi.com{{details.IconSmall ? details.IconSmall : details.Icon}}" max-width="100" max-height="200" align="left"> <h1>{{details.Name}}</h1></div>
    <h3>{{details.Description}}</h3>
    <br><br><br>
    <h4>From {{details.GamePatch.Name}}</h4>
    <img ng-src="{{details.GamePatch.Banner}}" max-width="200" max-height="300">
</div>

